[submodule "external/gyronimo"]
	path = external/gyronimo
	url = https://github.com/rogeriojorge/gyronimo.git
    branch = feature/gyronimo-without-makima-bspline3
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/vmec"]
	path = external/vmec
	url = https://github.com/rogeriojorge/VMEC2000.git
    branch = feature/compile-out-of-source
