[submodule "external/gyronimo"]
	path = external/gyronimo
	url = https://github.com/rogeriojorge/gyronimo.git
[submodule "external/simple"]
	path = external/simple
	url = https://github.com/itpplasma/SIMPLE.git
[submodule "external/splinterp"]
	path = external/splinterp
	url = https://github.com/apryor6/splinterp.git
